---
const title="Home page"

import foto from '/public/imgprincipal.jpg';
import logoGit from '/public/github.png';
import logoLink from '/public/linkedin.png';
import logoInsta from '/public/instagram.png';
---

<section id="home-section">
    <div class="hero">
        <div class="h1-name">
            <h1>
                <span>&lt;</span>
                    Agustin Sanchez
                <span>/&gt;</span>
            </h1>
            <div class="leyend">
                <h2>Diseñando soluciones.</h2>
            </div>
            <div class="social-container">
                <ul>
                   <li><a href="https://github.com/flacodev"><img src={logoGit.src} alt="github de agustin"></a></li>
                   <li><a href="https://www.linkedin.com/in/agustin-sanchez-565592237/"><img src={logoLink.src} alt="linkedin de agustin"></a></li>
                   <li><a href="https://www.instagram.com/agustin_sanchez5/"><img src={logoInsta.src} alt="instagram de agustin"></a></li> 
                </ul>
            </div>
        </div>
    
        <div class="img-container">
            <div class="img">
                <img src={foto.src} alt="Agustin Sanchez">
            </div>
            <div class="cv-btn">
                <button>Resume</button>    
            </div>
        </div>
        <div class="cv-btn-responsive">
            <button>Resume</button>
        </div>
    </div>
    
</section>
    

<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&display=swap');

    section{
    height: 100vh; /* Cada sección ocupa al menos el alto de la ventana */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid #ddd; /* Línea divisoria opcional */
        
    }
    

    .h1-name span{
        color: #44CECE;
    }
    
    .h1-name h1,
     .h1-name span{
        font-family: "Patrick hand", sans-serif;
        font-size: 70px;
        width: 100%;
        font-weight: normal;
        margin: 0;
        
    }

    .h1-name span {
        color: #44CECE;
    }
    
    .h1-name h1,
    .h1-name span {
        font-family: "Patrick hand", sans-serif;
        font-size: 70px;
        width: 100%;
        font-weight: normal;
        margin: 0;
    }

    .h1-name span {
        color: #44CECE;
    }
    
    .h1-name h1,
    .h1-name span {
        font-family: "Patrick hand", sans-serif;
        font-size: 70px;
        width: 100%;
        font-weight: normal;
        margin: 0;
    }

    .hero {
        display: flex; /* Activa el diseño en fila */
        justify-content: center; /* Centra los elementos */
        align-items: center; /* Centra verticalmente */
        column-gap: 200px;
        width: 100%;
    }

    .leyend {
        font-family: "Patrick hand", regular;
        margin: 1rem auto;
        font-size: 15px;
        font-weight: normal;
        
    }

    .img-container {
        position: relative; /* Hace posible posicionar el botón sin afectar a la imagen */
        display: flex;
        flex-direction: column; /* Alinea la imagen y el botón en columna */
        align-items: center; /* Centra la imagen y el botón */
    }

    .img {
        width: 300px; /* Ajusta según el tamaño deseado */
        height: 300px; /* Debe ser igual al ancho */
        border-radius: 50%; /* Hace que el contenedor sea circular */
        overflow: hidden; /* Oculta las partes sobrantes de la imagen */
        display: flex;
        justify-content: center;
        align-items: center; /* Centra la imagen dentro del contenedor */
    }

    img {
        width: 100%;
        border-radius: 100%;
    }

    .cv-btn {
        position: absolute;
        top: 350px; /* Coloca el botón justo debajo de la imagen */
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cv-btn button {
        width: 150px;
        height: 50px;
        border-radius: 40px;
        background-color: #e2e1e1;
        border: none;
        cursor: pointer;
        font-family: "patrick hand", sans-serif;
        font-size: 22px;
    }
    
    
    .cv-btn button:hover{
        color:#585656;
        box-shadow: 0px 0px 10px #2799b2a6;
        transition: 0.12s linear;
    }
    .cv-btn-responsive{
        display: none;
    }

    
    .leyend h2 {
        margin: 0px ;
        margin-top: 0px;
        color: #0000008e;
        background-color: #44cece4f;
        display: inline-block;
    }

    .social-container {
        width: 150px;
        display: flex;
        justify-content: space-between;
        
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem auto;
    }
    li {
        width: 100%;
        height: 100%;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .cv-btn-responsive{
        display: none;
    }

    
   
    @media only screen and (max-width: 860px){
        .hero {
        display: flex;
        flex-direction: column; /* Asegura que los elementos se coloquen en columna */
        display: flex;
        margin: 0;
        padding: 0; 
         
    }

    .img-container {
        width: 100%;
        height: auto;
        display: flex;
        margin-bottom: 10px;
        padding: 0; 
        order: -1; /* Esto asegura que la imagen esté encima de los demás elementos, pero bajo el navbar */
    }

    .img {
        width: 250px;
        height: 250px;
    }

    .h1-name h1,
    .h1-name span {
        font-family: "Patrick hand", sans-serif;
        font-size: 40px;
        width: 100%;
        font-weight: normal;
        margin: 0;
    }

    .leyend {
        font-family: "Patrick hand", sans-serif;
        margin: 1rem auto;
        font-size: 12px;
        font-weight: normal;
    }

    .social-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    li {
        width: 40px;
        height: 40px;
        margin: 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cv-btn {
        display: none;
    }

    .cv-btn-responsive {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        width: 100%;
    }

    .cv-btn-responsive button {
        width: 150px;
        height: 50px;
        border-radius: 40px;
        background-color: #e2e1e1;
        border: none;
        cursor: pointer;
        font-family: "Patrick hand", sans-serif;
        font-size: 22px;
    }
    .cv-btn-responsive button:hover{
        color:#585656;
        box-shadow: 0px 0px 10px #2799b2a6;
        transition: 0.12s linear;
        }
}
    @media only screen and (max-width: 1080px){
        .h1-name h1,
        .h1-name span {
            font-family: "Patrick hand", sans-serif;
            font-size: 45px;
            width: 100%;
            font-weight: normal;
            margin: 0;
        }
        .leyend {
        font-family: "Patrick hand", sans-serif;
        margin: 1rem auto;
        font-size: 11px;
        font-weight: normal;
        }
        .cv-btn button:hover{
        color:#585656;
        box-shadow: 0px 0px 10px #2799b2a6;
        transition: 0.12s linear;
        }
    }

</style>






