---
import Navegador1 from '../components/Navegador1.astro';
import Layout from '../layouts/Layout.astro';
import ProyectosSection from '../components/sections/proyectosSection.astro';
import Home from '../components/sections/home.astro';
import AboutSection from '../components/sections/aboutSection.astro';
import ContactoSection from '../components/sections/contactoSection.astro';
import SkillsSection from '../components/sections/skillsSection.astro';

---



<Layout title="Portfolio web">
	<Navegador1 ></Navegador1>
	<main>
		<Home ></Home>
		<AboutSection></AboutSection>
		<ContactoSection></ContactoSection>
		<SkillsSection></SkillsSection>
		<ProyectosSection></ProyectosSection>
	</main>
</Layout>



<style>
	
	main{
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	
</style>