
---
const title="Home page"
---

<section>
    <h1>
        <span>&lt;</span>
        Agustin Sanchez
        <span>/&gt;</span>
    </h1>
</section>
    

<style>
    section{
        width: 100%;
        
    }

    span{
        color: #44CECE;
    }
</style>






