---
const title = "navegador de la web"

---

    <nav class="navbar">

        <ul class="indice">
            <li><a href="http://localhost:4321/" aria-label="enlace al incio">&lt; /&gt; </a></li>
            <li><a href="#proyectos" >Proyectos</a></li>
            <li><a href="#" >About me</a></li>
            <li><a href="#" >Skills</a></li>
            <li><a href="#" >Contacto</a></li>
        </ul>

    </nav>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Patrick+Hand&display=swap');
    
    
    .navbar{
        background-color: #EEEEEE;
        height: 4rem;
        width: 70rem;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        border-radius: 25px;
        padding: 5px 10px;
        
       
    }
    
    .indice{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    li {
        margin: 0 5rem 0 5rem;
        
    }
    .indice a {
        color: #000000;
        text-decoration: none;
        font-family:"Patrick Hand", serif;
        font-size: 23px;
        
    }
    
    









</style>