---
	const title="Portfolio web"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		
		width: 100%;
		height: 100%;background: radial-gradient(circle, #ccc9c9 2px, transparent 1px);
  		background-size: 16px 16px; /* Tamaño del espacio entre los puntos */
  		background-color: #f9f9f9; /* Color de fondo de la hoja */
  		color:black;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		
  		display: flex;            /* Activar flexbox */
  		justify-content: center;  /* Centrar horizontalmente */
  		    /* Opcional: centrar verticalmente */
  		min-height: 100vh;        /* Asegura que ocupa toda la altura de la pantalla */
		
  		

	}
</style>
